<app-user (hasUser)="onUserSubmit($event)" *ngIf="!startTest"></app-user>

<div class="questions" *ngIf="startTest && !testFinished">
    <mat-spinner *ngIf="!question"></mat-spinner>

    <div *ngIf="question">
        <div [innerHTML]="question.question"></div>

        <div class="button-row">
            <button type="button" mat-stroked-button *ngFor="let answer of mixedAnswers" (click)="checkAnswer(answer)"><span [innerHTML]="answer"></span></button>
        </div>
    </div>
    <div class="keybord-info">You can also use your keyboard numeric keys to select the needed answer.</div>
</div>

<div class="score" *ngIf="testFinished">Your score is <strong [innerText]="score"></strong></div>
